{% extends 'app/layout.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-5 mb-4">О нас</h2>
            <p>Мы - команда профессионалов, которые предоставляют высококачественные услуги в сфере гостеприимства. Наша цель - сделать ваше пребывание удобным и незабываемым.</p>
            <p>Мы стремимся к постоянному улучшению наших услуг и рады каждому гостю, посетившему наш отель.</p>
            <p>Свяжитесь с нами сегодня, чтобы узнать больше о наших предложениях и возможностях для вашего отдыха или деловой поездки.</p>
        </div>
    </div>
</div>
{% endblock %}
